<div data-ng-controller="Subcription_Status">
<!-- 	<form novalidate name="subcription">
		<div class="container">
			<h2>Add Student Details</h2>
			<br />
			<div class="col-md-12">
				<label class=""><strong> Student Name:</strong></label>
				<div class="form-group">
					<input type="text" class="form-control" name="name"
						placeholder="Student Name" autofocus="autofocus"
						data-ng-model="details.name">
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<button type="button" data-ng-click="submitdetails()"
						class="btn btn-primary">submit</button>
				</div>
			</div>
		</div>
	</form> -->
	<p><strong>Subcription manager application is Running</strong></p>
</div>